div.body li {
    line-height: 1.5em;
}

dl.method {
    margin-top: 27px;
    margin-left: 17px;
}

dl.function {
    margin-top: 27px;
    margin-left: 17px;
}

dt.field-even {
    padding-top: 27px;
}

dd.field-even {
    padding-top: 27px;
}

/*
For RTD tables from Markdown, force tables to wrap-around
so they don't scroll horizontally.
*/
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: unset !important;
}